{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "http",
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "AXE运维平台RESTful API",
    "title": "AXE运维API",
    "version": "1.0.0"
  },
  "host": "axe-develop.fogcdn.top:8969",
  "paths": {
    "/v1/auth/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "登陆回调接口",
        "operationId": "Callback",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authCallbackResponse"
            }
          }
        }
      }
    },
    "/v1/auth/check": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "服务鉴权入口",
        "operationId": "Check",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authCheckResponse"
            }
          }
        }
      }
    },
    "/v1/auth/getActionList": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "对外提供动作列表的接口",
        "operationId": "GetActionList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authGetActionListResponse"
            }
          }
        }
      }
    },
    "/v1/auth/getResourceList": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "对外提供资源列表的接口",
        "operationId": "GetResourceList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authGetResourceListResponse"
            }
          }
        }
      }
    },
    "/v1/auth/getUserInfo": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "获取用户信息接口",
        "operationId": "GetUserInfo",
        "parameters": [
          {
            "type": "boolean",
            "format": "boolean",
            "description": "控制是否显示API访问授权Token，默认值false，即不显示.",
            "name": "access_token",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authGetUserInfoResponse"
            }
          }
        }
      }
    },
    "/v1/auth/login": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "用户登陆接口",
        "operationId": "Login",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authLoginResponse"
            }
          }
        }
      }
    },
    "/v1/auth/logout": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "用户登出接口",
        "operationId": "Logout",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/authLogoutResponse"
            }
          }
        }
      }
    },
    "/v1/callback/cmdbEvent": {
      "post": {
        "tags": [
          "Callback"
        ],
        "summary": "接收cmdb的事件推送",
        "operationId": "CmdbEvent",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/callbackCmdbEventRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/callbackCmdbEventResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/importAsset": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "导入实体资产",
        "operationId": "ImportAsset",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbImportAssetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbImportAssetResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/importCrossTable": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "导入交维表",
        "operationId": "ImportCrossTable",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbImportCrossTableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbImportCrossTableResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/importDetail": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "查看导入的实体信息列表",
        "operationId": "ImportDetail",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "导入记录id.",
            "name": "import_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "指定查看实体类型.",
            "name": "bk_obj_id",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbImportDetailResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/importHistory": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "查询导入历史记录列表",
        "operationId": "ImportHistory",
        "parameters": [
          {
            "enum": [
              "UNDEFINED",
              "HOST",
              "SERVER",
              "LAKE",
              "SWITCH",
              "CROSSTABLE",
              "VIP"
            ],
            "type": "string",
            "default": "UNDEFINED",
            "description": "指定查看类型.\n\n - UNDEFINED: 0-undefined\n - HOST: 1-主机\n - SERVER: 2-物理机\n - LAKE: 3-LAKE\n - SWITCH: 4-交换机\n - CROSSTABLE: 5-交维表\n - VIP: 6-VIP",
            "name": "import_type",
            "in": "query"
          },
          {
            "enum": [
              "IMPORTING",
              "COMPLETED",
              "FAILED",
              "REVIEWING",
              "ACCEPT",
              "REJECT",
              "CANCEL",
              "ROLL_FAIL"
            ],
            "type": "string",
            "default": "IMPORTING",
            "description": "查看指定状态记录，0-查看全部.\n\n - IMPORTING: 0-正在导入\n - COMPLETED: 1-导入完成\n - FAILED: 2-导入失败\n - REVIEWING: 3-待审核\n - ACCEPT: 4-审核通过\n - REJECT: 5-审核不通过\n - CANCEL: 6-撤销\n - ROLL_FAIL: 7-回滚失败",
            "name": "import_status",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbImportHistoryResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/importHost": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "导入主机",
        "operationId": "ImportHost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbImportHostRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbImportHostResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/importLake": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "导入lake节点",
        "operationId": "ImportLake",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbImportLakeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbImportLakeResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/importReview": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "导入交维表审批结果",
        "operationId": "ImportReview",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "导入记录id.",
            "name": "import_id",
            "in": "query"
          },
          {
            "enum": [
              "IMPORTING",
              "COMPLETED",
              "FAILED",
              "REVIEWING",
              "ACCEPT",
              "REJECT",
              "CANCEL",
              "ROLL_FAIL"
            ],
            "type": "string",
            "default": "IMPORTING",
            "description": "指定审批结果，只处理通过，不通过和撤销.\n\n - IMPORTING: 0-正在导入\n - COMPLETED: 1-导入完成\n - FAILED: 2-导入失败\n - REVIEWING: 3-待审核\n - ACCEPT: 4-审核通过\n - REJECT: 5-审核不通过\n - CANCEL: 6-撤销\n - ROLL_FAIL: 7-回滚失败",
            "name": "import_status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "操作描述.",
            "name": "review_note",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbImportReviewResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/instanceTopology": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "实例拓扑",
        "operationId": "InstanceTopology",
        "parameters": [
          {
            "type": "boolean",
            "format": "boolean",
            "name": "with_idlepool",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbInstanceTopologyResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/roomTopology": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "机房拓扑",
        "operationId": "RoomTopology",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbRoomTopologyResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/searchHost": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "查找主机",
        "operationId": "SearchHost",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          },
          {
            "type": "string",
            "description": "内网IP.",
            "name": "host.bk_host_innerip",
            "in": "query"
          },
          {
            "type": "string",
            "description": "外网IP.",
            "name": "host.bk_host_outerip",
            "in": "query"
          },
          {
            "type": "string",
            "description": "主要维护人.",
            "name": "host.operator",
            "in": "query"
          },
          {
            "type": "string",
            "description": "备份维护人.",
            "name": "host.bk_bak_operator",
            "in": "query"
          },
          {
            "type": "string",
            "description": "固资编号.",
            "name": "host.bk_asset_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "设备SN.",
            "name": "host.bk_sn",
            "in": "query"
          },
          {
            "type": "string",
            "description": "备注.",
            "name": "host.bk_comment",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "质保年限.",
            "name": "host.bk_service_term",
            "in": "query"
          },
          {
            "type": "string",
            "description": "SLA级别.",
            "name": "host.bk_sla",
            "in": "query"
          },
          {
            "type": "string",
            "description": "所在国家.",
            "name": "host.bk_state_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "所在省份.",
            "name": "host.bk_province_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "所属运营商.",
            "name": "host.bk_isp_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "主机名称.",
            "name": "host.bk_host_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "操作系统类型.",
            "name": "host.bk_os_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "操作系统名称.",
            "name": "host.bk_os_name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "操作系统版本.",
            "name": "host.bk_os_version",
            "in": "query"
          },
          {
            "type": "string",
            "description": "操作系统位数.",
            "name": "host.bk_os_bit",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "CPU逻辑核心数.",
            "name": "host.bk_cpu",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "CPU频率.",
            "name": "host.bk_cpu_mhz",
            "in": "query"
          },
          {
            "type": "string",
            "description": "CPU型号.",
            "name": "host.bk_cpu_module",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "内存容量.",
            "name": "host.bk_mem",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "磁盘容量.",
            "name": "host.bk_disk",
            "in": "query"
          },
          {
            "type": "string",
            "description": "内网MAC地址.",
            "name": "host.bk_mac",
            "in": "query"
          },
          {
            "type": "string",
            "description": "外网MAC.",
            "name": "host.bk_outer_mac",
            "in": "query"
          },
          {
            "type": "string",
            "description": "录入时间.",
            "name": "host.create_time",
            "in": "query"
          },
          {
            "type": "string",
            "description": "录入方式.",
            "name": "host.import_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "CN2IP.",
            "name": "host.cn2ip",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Bond类型.",
            "name": "host.bond_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "wan_gate.",
            "name": "host.wan_gate",
            "in": "query"
          },
          {
            "type": "string",
            "description": "cn2_gate.",
            "name": "host.cn2_gate",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "网卡带宽.",
            "name": "host.nic_speed",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "ssh端口.",
            "name": "host.ssh_port",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "cn2ip掩码数.",
            "name": "host.cn2ip_mask",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "设备ip掩码数.",
            "name": "host.hostip_mask",
            "in": "query"
          },
          {
            "type": "string",
            "description": "设备功能代码.",
            "name": "host.function_code",
            "in": "query"
          },
          {
            "type": "string",
            "description": "主机状态.",
            "name": "host.state",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "服务能力.",
            "name": "host.service_bandwidth",
            "in": "query"
          },
          {
            "type": "string",
            "description": "ipv6地址.",
            "name": "host.ipv6",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "设备角色(模块名).",
            "name": "host.module_name",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "主机ID.",
            "name": "host.bk_host_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "模块名.",
            "name": "module.bk_module_name",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "模块ID.",
            "name": "module.bk_module_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "业务拓扑模块名.",
            "name": "module.TopModuleName",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "父节点id.",
            "name": "module.bk_parent_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "集群名.",
            "name": "set.bk_set_name",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "集群ID.",
            "name": "set.bk_set_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "业务拓扑模块名.",
            "name": "set.TopModuleName",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "父节点id.",
            "name": "set.bk_parent_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "业务名.",
            "name": "biz.bk_biz_name",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "业务ID.",
            "name": "biz.bk_biz_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "区域名.",
            "name": "zone.bk_set_name",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "区域ID.",
            "name": "zone.bk_inst_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "查询条件.",
            "name": "conditions",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbSearchHostResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/searchInst": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "实体的查询,包括 host，lake，vip列表",
        "operationId": "SearchInst",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbSearchInstRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbSearchInstResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/searchLake": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "查询Lake节点",
        "operationId": "SearchLake",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbSearchLakeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbSearchLakeResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/searchLakeArea": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "通过IP获取节点的地区和位置信息",
        "operationId": "SearchLakeArea",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "ipv4,可传多个.",
            "name": "ipv4",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "ipv6,可传多个.",
            "name": "ipv6",
            "in": "query"
          },
          {
            "enum": [
              "NULL",
              "NATION",
              "REGION",
              "PROVINCE",
              "CITY",
              "COUNTY"
            ],
            "type": "string",
            "default": "NULL",
            "description": "要查询的区域的地区层级.\n\n - NULL: 0-不存在\n - NATION: 1-国家级\n - REGION: 2-大区级\n - PROVINCE: 3-省级\n - CITY: 4-市级\n - COUNTY: 5-区县级",
            "name": "area_level",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbSearchLakeAreaResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/searchLakeHost": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "查询Lake节点下的主机列表",
        "operationId": "SearchLakeHost",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "lake节点的名字列表.",
            "name": "lake_name",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "description": "lake节点的nodeID列表.",
            "name": "node_id",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "description": "lake节点的节点编码列表.",
            "name": "node_code",
            "in": "query"
          },
          {
            "enum": [
              "NULL",
              "NATION",
              "REGION",
              "PROVINCE",
              "CITY",
              "COUNTY"
            ],
            "type": "string",
            "default": "NULL",
            "description": "要查询的区域的地区层级.\n\n - NULL: 0-不存在\n - NATION: 1-国家级\n - REGION: 2-大区级\n - PROVINCE: 3-省级\n - CITY: 4-市级\n - COUNTY: 5-区县级",
            "name": "area_level",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbSearchLakeHostResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/searchLevelHost": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "按level查询lake节点下主机列表",
        "operationId": "SearchLevelHost",
        "parameters": [
          {
            "enum": [
              "ALL",
              "NATION_CENTER",
              "REGION_CENTER",
              "PROVINCE_EDGE",
              "CITY_EDGE",
              "COUNTY_EDGE"
            ],
            "type": "string",
            "default": "ALL",
            "description": "指定level：0-全国中心 1-区域中心 2-省边缘 3-地市边缘 4-区县边缘.\n\n - NATION_CENTER: 0-全国中心\n - REGION_CENTER: 1-区域中心\n - PROVINCE_EDGE: 2-省边缘\n - CITY_EDGE: 3-地市边缘\n - COUNTY_EDGE: 4-区县边缘",
            "name": "level",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          },
          {
            "type": "boolean",
            "format": "boolean",
            "description": "默认返回主机的ipv4地址，可以选择返回ipv6地址.",
            "name": "ipv6",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbSearchLevelHostResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/searchModule": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "查询模块",
        "operationId": "SearchModule",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "业务ID.",
            "name": "cmdb_search_request.bk_biz_id",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "集群ID.",
            "name": "cmdb_search_request.bk_set_id",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "description": "模块ID.",
            "name": "cmdb_search_request.bk_module_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbSearchMoudleResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/serverList": {
      "get": {
        "tags": [
          "Cmdb"
        ],
        "summary": "裸金属列表",
        "operationId": "ServerList",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi",
            "description": "roomId或areaCode.",
            "name": "bk_inst_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "对象类型.",
            "name": "bk_obj_id",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbServerListResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/updateHostState": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "修改主机上下线状态",
        "operationId": "UpdateHostState",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbUpdateHostStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbUpdateHostStateResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/updateInst": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "实体的更新,包括 host，lake，vip列表",
        "operationId": "UpdateInst",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbUpdateInstRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbUpdateInstResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/updateLakeState": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "修改lake节点上下线状态",
        "operationId": "UpdateLakeState",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbUpdateLakeStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbUpdateLakeStateResponse"
            }
          }
        }
      }
    },
    "/v1/cmdb/updateVipState": {
      "post": {
        "tags": [
          "Cmdb"
        ],
        "summary": "VIP的状态更新",
        "operationId": "UpdateVipState",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cmdbUpdateVipStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/cmdbUpdateVipStateResponse"
            }
          }
        }
      }
    },
    "/v1/file/downloadTemplate": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "获取导入模板",
        "operationId": "DownloadTemplate",
        "parameters": [
          {
            "enum": [
              "UNDEFINED",
              "HOSTCHAIN",
              "LAKECHAIN",
              "CROSSTABLE"
            ],
            "type": "string",
            "default": "UNDEFINED",
            "description": "导入类型.\n\n - UNDEFINED: 0-undefined,指除了关系链模板之外的导入模板，也可不传\n - HOSTCHAIN: 1-导入主机业务拓扑\n - LAKECHAIN: 2-导入lake节点关系链\n - CROSSTABLE: 3-导入交维表",
            "name": "template_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "非关系链的导入模板的类型.",
            "name": "asset_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/fileDownloadTemplateResponse"
            }
          }
        }
      }
    },
    "/v1/file/upload": {
      "post": {
        "tags": [
          "File"
        ],
        "summary": "上传csv等通用文件",
        "operationId": "Upload",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/fileUploadRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/fileUploadResponse"
            }
          }
        }
      }
    },
    "/v1/file/uploadPlaybook": {
      "post": {
        "tags": [
          "File"
        ],
        "summary": "上传playbook压缩包并且解析入口yml文件",
        "operationId": "UploadPlaybook",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/fileUploadPlaybookRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/fileUploadPlaybookResponse"
            }
          }
        }
      }
    },
    "/v1/greeter/sayHello": {
      "get": {
        "tags": [
          "Greeter"
        ],
        "summary": "Sends a greeting",
        "operationId": "SayHello",
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/greeterHelloReply"
            }
          }
        }
      }
    },
    "/v1/playbook/create": {
      "post": {
        "tags": [
          "Playbook"
        ],
        "summary": "创建playbook项目",
        "operationId": "CreateMixin14",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/playbookCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/playbookCreateResponse"
            }
          }
        }
      }
    },
    "/v1/playbook/filter": {
      "get": {
        "tags": [
          "Playbook"
        ],
        "summary": "筛选playbook项目",
        "operationId": "FilterMixin14",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          },
          {
            "type": "string",
            "description": "用于模糊筛选的playbook项目名称的关键字.",
            "name": "keyword",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/playbookFilterResponse"
            }
          }
        }
      }
    },
    "/v1/playbook/get/{playbook_id}": {
      "get": {
        "tags": [
          "Playbook"
        ],
        "summary": "获取playbook项目",
        "operationId": "GetMixin14",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "playbook项目ID",
            "name": "playbook_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/playbookGetResponse"
            }
          }
        }
      }
    },
    "/v1/playbook/update/{playbook_id}": {
      "post": {
        "tags": [
          "Playbook"
        ],
        "summary": "更新playbook项目",
        "operationId": "UpdateMixin14",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "playbook项目ID",
            "name": "playbook_id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/playbookUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/playbookUpdateResponse"
            }
          }
        }
      }
    },
    "/v1/schedule/create": {
      "post": {
        "tags": [
          "Schedule"
        ],
        "summary": "创建定时任务",
        "operationId": "CreateMixin9",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/scheduleCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/scheduleCreateResponse"
            }
          }
        }
      }
    },
    "/v1/schedule/filter": {
      "get": {
        "tags": [
          "Schedule"
        ],
        "summary": "筛选定时任务",
        "operationId": "FilterMixin9",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          },
          {
            "type": "string",
            "description": "用于筛选的定时任务名字的关键字.",
            "name": "schedule_name",
            "in": "query"
          },
          {
            "enum": [
              "UNDEFINED",
              "PLAYBOOK",
              "CONTAINER",
              "BARE_METAL",
              "SERVER_COMPARE"
            ],
            "type": "string",
            "default": "UNDEFINED",
            "description": "用于筛选的定时任务的任务类型.\n\n - UNDEFINED: 0-undefined\n - PLAYBOOK: 1-作业模板\n - CONTAINER: 2-容器部署\n - BARE_METAL: 3-裸金属管理\n - SERVER_COMPARE: 4-交维表导入后巡检任务",
            "name": "task_type",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "task_type对应的id.",
            "name": "task_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/scheduleFilterResponse"
            }
          }
        }
      }
    },
    "/v1/schedule/get/{schedule_id}": {
      "get": {
        "tags": [
          "Schedule"
        ],
        "summary": "获取定时任务",
        "operationId": "GetMixin9",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "定时任务ID",
            "name": "schedule_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/scheduleGetResponse"
            }
          }
        }
      }
    },
    "/v1/schedule/switchStatus/{schedule_id}": {
      "post": {
        "tags": [
          "Schedule"
        ],
        "summary": "切换状态",
        "operationId": "SwitchStatus",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "定时任务ID",
            "name": "schedule_id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/scheduleSwitchStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/scheduleSwitchStatusResponse"
            }
          }
        }
      }
    },
    "/v1/schedule/update/{schedule_id}": {
      "post": {
        "tags": [
          "Schedule"
        ],
        "summary": "更新定时任务",
        "operationId": "Update",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "定时任务ID",
            "name": "schedule_id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/scheduleUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/scheduleUpdateResponse"
            }
          }
        }
      }
    },
    "/v1/task/checkServerState": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "调用裸金属应用检查裸金属状态",
        "operationId": "CheckServerState",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskCheckServerStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskCheckServerStateResponse"
            }
          }
        }
      }
    },
    "/v1/task/create": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "创建作业任务(执行作业模板)",
        "operationId": "Create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskCreateResponse"
            }
          }
        }
      }
    },
    "/v1/task/createServer": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "调用裸金属创建操作",
        "operationId": "CreateServer",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskCreateServerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskCreateServerResponse"
            }
          }
        }
      }
    },
    "/v1/task/createServerCompare": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "交维表导入后巡检任务",
        "operationId": "CreateServerCompare",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskCreateServerCompareRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskCreateServerCompareResponse"
            }
          }
        }
      }
    },
    "/v1/task/filter": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "筛选作业任务",
        "operationId": "Filter",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          },
          {
            "type": "string",
            "description": "用于筛选任务名字的关键字.",
            "name": "task_name",
            "in": "query"
          },
          {
            "enum": [
              "UNDEFINED",
              "PLAYBOOK",
              "CONTAINER",
              "BARE_METAL",
              "SERVER_COMPARE"
            ],
            "type": "string",
            "default": "UNDEFINED",
            "description": "用于筛选定时任务的任务类型 0-undefined 1-作业模板；2-容器部署；3-裸金属管理.\n\n - UNDEFINED: 0-undefined\n - PLAYBOOK: 1-作业模板\n - CONTAINER: 2-容器部署\n - BARE_METAL: 3-裸金属管理\n - SERVER_COMPARE: 4-交维表导入后巡检任务",
            "name": "task_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskFilterResponse"
            }
          }
        }
      }
    },
    "/v1/task/get/{task_id}": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "获取作业任务",
        "operationId": "Get",
        "parameters": [
          {
            "type": "string",
            "format": "int64",
            "description": "作业任务ID",
            "name": "task_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskGetResponse"
            }
          }
        }
      }
    },
    "/v1/task/getLog/{sub_task_id}": {
      "get": {
        "tags": [
          "SubTask"
        ],
        "summary": "获取作业任务SubTask具体日志",
        "operationId": "GetLog",
        "parameters": [
          {
            "type": "string",
            "format": "int64",
            "description": "作业子任务ID",
            "name": "sub_task_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/subtaskGetLogResponse"
            }
          }
        }
      }
    },
    "/v1/task/getSubTask/{task_id}": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "获取作业任务日志SubTask列表",
        "operationId": "GetSubTask",
        "parameters": [
          {
            "type": "string",
            "format": "int64",
            "description": "作业任务ID",
            "name": "task_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskGetSubTaskResponse"
            }
          }
        }
      }
    },
    "/v1/task/installServer": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "调用裸金属安装操作",
        "operationId": "InstallServer",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskInstallServerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskInstallServerResponse"
            }
          }
        }
      }
    },
    "/v1/task/retry": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "重新执行作业任务",
        "operationId": "Retry",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskRetryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskRetryResponse"
            }
          }
        }
      }
    },
    "/v1/task/serverPowerControl": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "调用裸金属应用执行开关机操作",
        "operationId": "ServerPowerControl",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/taskServerPowerControlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/taskServerPowerControlResponse"
            }
          }
        }
      }
    },
    "/v1/template/create": {
      "post": {
        "tags": [
          "Template"
        ],
        "summary": "创建作业模板",
        "operationId": "CreateMixin11",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/templateCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/templateCreateResponse"
            }
          }
        }
      }
    },
    "/v1/template/filter": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "筛选作业模板",
        "operationId": "FilterMixin11",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "总页数.",
            "name": "paging.total_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "当前页数.",
            "name": "paging.page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "每页显示的记录条数.",
            "name": "paging.per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "description": "总记录数.",
            "name": "paging.total_record",
            "in": "query"
          },
          {
            "type": "string",
            "description": "模板名的一部分，模糊查询时的关键字.",
            "name": "name",
            "in": "query"
          },
          {
            "type": "string",
            "description": "模板ID.",
            "name": "template_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/templateFilterResponse"
            }
          }
        }
      }
    },
    "/v1/template/get/{template_id}": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "获取作业模板",
        "operationId": "GetMixin11",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "模板ID",
            "name": "template_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/templateGetResponse"
            }
          }
        }
      }
    },
    "/v1/template/update/{template_id}": {
      "post": {
        "tags": [
          "Template"
        ],
        "summary": "更新作业模板",
        "operationId": "UpdateMixin11",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "模板ID",
            "name": "template_id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/templateUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/templateUpdateResponse"
            }
          }
        }
      }
    },
    "/v1/template/updateState/{template_id}": {
      "post": {
        "tags": [
          "Template"
        ],
        "summary": "更新作业模板状态开关",
        "operationId": "UpdateState",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "description": "模板ID",
            "name": "template_id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/templateUpdateStateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/templateUpdateStateResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateNodesRootReqCreateNodeInfoReq": {
      "type": "object",
      "title": "创建节点请求对象",
      "properties": {
        "nodeInfoReqs": {
          "type": "array",
          "title": "节点",
          "items": {
            "$ref": "#/definitions/CreateNodesRootReqNodeInfoReq"
          }
        },
        "pageInfo": {
          "title": "分页信息",
          "$ref": "#/definitions/ironicComPageInfo"
        }
      }
    },
    "CreateNodesRootReqNodeInfoReq": {
      "type": "object",
      "title": "节点信息",
      "properties": {
        "initId": {
          "type": "string",
          "format": "int64",
          "title": "初始化id"
        },
        "ip": {
          "type": "string",
          "title": "ipmi的IP地址"
        },
        "macAddr": {
          "type": "string",
          "title": "裸金属主机mac地址"
        },
        "password": {
          "type": "string",
          "title": "Ipmi密码"
        },
        "port": {
          "type": "string",
          "format": "int64",
          "title": "Ipmi端口"
        },
        "regionName": {
          "type": "string",
          "title": "区域名称"
        },
        "serverAddr": {
          "type": "string",
          "title": "裸金属区域组件服务地址"
        },
        "userName": {
          "type": "string",
          "title": "ipmi用户名"
        }
      }
    },
    "CreateNodesRootRspCreateNodeInfoRsp": {
      "type": "object",
      "title": "创建节点请求对象",
      "properties": {
        "nodeInfoRsps": {
          "type": "array",
          "title": "节点",
          "items": {
            "$ref": "#/definitions/ironicServerCreateNodesRootRspNodeInfoRsp"
          }
        },
        "pageInfo": {
          "title": "分页信息",
          "$ref": "#/definitions/ironicComPageInfo"
        }
      }
    },
    "OperNodePowerRootReqNodePowerOper": {
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "string",
          "title": "裸金属节点id"
        }
      }
    },
    "OperNodePowerRootReqOperNodePowerReq": {
      "type": "object",
      "properties": {
        "nodePowerOpers": {
          "type": "array",
          "title": "安装裸金属系统信息",
          "items": {
            "$ref": "#/definitions/OperNodePowerRootReqNodePowerOper"
          }
        }
      }
    },
    "OperNodePowerRootRspNodePowerRsp": {
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "string",
          "title": "裸金属节点id"
        },
        "powerResultCode": {
          "title": "创建节点响应码",
          "$ref": "#/definitions/ironicComResultCode"
        },
        "powerResultMsg": {
          "type": "string",
          "title": "创建节点响应消息"
        }
      }
    },
    "OperNodePowerRootRspOperNodePowerRsp": {
      "type": "object",
      "properties": {
        "nodePowerRsps": {
          "type": "array",
          "title": "电源操作应答",
          "items": {
            "$ref": "#/definitions/OperNodePowerRootRspNodePowerRsp"
          }
        }
      }
    },
    "QryHeartbeatRootReqQryHeartbeatReq": {
      "type": "object",
      "properties": {
        "req": {
          "type": "string",
          "title": "安装裸金属系统信息"
        }
      }
    },
    "QryHeartbeatRootRspAppStatus": {
      "type": "string",
      "title": "- UNDEFINED: 没有定义\n - STOPPED: 活动中\n - ACTIVE: 未知\n - UNKNOWN: 已停止",
      "default": "UNDEFINED",
      "enum": [
        "UNDEFINED",
        "STOPPED",
        "ACTIVE",
        "UNKNOWN"
      ]
    },
    "QryHeartbeatRootRspClusterInstance": {
      "type": "object",
      "title": "节点信息",
      "properties": {
        "appStatus": {
          "title": "运行状态",
          "$ref": "#/definitions/QryHeartbeatRootRspAppStatus"
        },
        "clusterName": {
          "type": "string",
          "title": "应用名，集群名"
        },
        "ipAddress": {
          "type": "string",
          "title": "应用ip"
        },
        "message": {
          "type": "string",
          "title": "信息"
        }
      }
    },
    "QryHeartbeatRootRspQryHeartbeatRsp": {
      "type": "object",
      "title": "健康监测应答对象",
      "properties": {
        "clusterInstances": {
          "type": "array",
          "title": "应用信息",
          "items": {
            "$ref": "#/definitions/QryHeartbeatRootRspClusterInstance"
          }
        }
      }
    },
    "QryNodeInfoRootReqQryNodeInfoReq": {
      "type": "object",
      "title": "查询节点信息请求对象",
      "properties": {
        "nodeIds": {
          "type": "array",
          "title": "裸金属节点id",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QryNodeInfoRootRspNodeInfo": {
      "type": "object",
      "title": "节点信息",
      "properties": {
        "imagerAddr": {
          "type": "string",
          "title": "镜像地址"
        },
        "ip": {
          "type": "string",
          "title": "ipmi的IP地址"
        },
        "macAddr": {
          "type": "string",
          "title": "裸金属主机mac地址"
        },
        "nodeId": {
          "type": "string",
          "title": "裸金属节点id"
        },
        "password": {
          "type": "string",
          "title": "Ipmi密码"
        },
        "powerStatus": {
          "title": "电源状态",
          "$ref": "#/definitions/QryNodeInfoRootRspPowerStatus"
        },
        "qryResultCode": {
          "title": "查询节点响应码",
          "$ref": "#/definitions/ironicComResultCode"
        },
        "qryResultMsg": {
          "type": "string",
          "title": "查询节点响应消息"
        },
        "serverAddr": {
          "type": "string",
          "title": "所属区域裸金属组件服务地址"
        },
        "status": {
          "title": "当前状态",
          "$ref": "#/definitions/QryNodeInfoRootRspStatus"
        },
        "userName": {
          "type": "string",
          "title": "ipmi用户名"
        }
      }
    },
    "QryNodeInfoRootRspPowerStatus": {
      "description": "- UNDEFINED_1: 没有定义\n - POWERON: 开机\n - POWEROFF: 关机\n - UNKNOWN: 未知",
      "type": "string",
      "title": "电源状态",
      "default": "UNDEFINED_1",
      "enum": [
        "UNDEFINED_1",
        "POWERON",
        "POWEROFF",
        "UNKNOWN"
      ]
    },
    "QryNodeInfoRootRspQryNodeInfoRsp": {
      "type": "object",
      "title": "查询节点应答对象",
      "properties": {
        "nodeInfos": {
          "type": "array",
          "title": "节点",
          "items": {
            "$ref": "#/definitions/QryNodeInfoRootRspNodeInfo"
          }
        }
      }
    },
    "QryNodeInfoRootRspStatus": {
      "description": "- UNDEFINED_2: 没有定义\n - NULL: 未知\n - CREATED: 已创建 :刚创建完节点后的状态，节点创建、验证成功，可进行装系统\n - DEPLOYING: 部署中 :正在执行装机任务\n - DEPLOYFAILED: 部署失败 : 执行装机异常\n - ACTIVE: 活动 ： 已经安装完系统活动中",
      "type": "string",
      "title": "裸金属节点状态",
      "default": "UNDEFINED_2",
      "enum": [
        "UNDEFINED_2",
        "NULL",
        "CREATED",
        "DEPLOYING",
        "DEPLOYFAILED",
        "ACTIVE"
      ]
    },
    "ReInstallNodeSysRootRspReNodeInfoRsp": {
      "type": "object",
      "title": "节点信息",
      "properties": {
        "initId": {
          "type": "string",
          "format": "int64",
          "title": "初始化id"
        },
        "installResultCode": {
          "title": "创建节点响应码",
          "$ref": "#/definitions/ironicComResultCode"
        },
        "installResultMsg": {
          "type": "string",
          "title": "创建节点响应消息"
        },
        "newNodeId": {
          "type": "string",
          "title": "新裸金属节点id"
        },
        "oldNodeId": {
          "type": "string",
          "title": "旧裸金属节点id"
        }
      }
    },
    "authCallbackResponse": {
      "type": "object",
      "title": "登陆回调接口响应，返回301状态码"
    },
    "authCheckResponse": {
      "type": "object",
      "title": "服务鉴权入口响应，返回200、401、403等状态码"
    },
    "authGetActionListResponse": {
      "type": "object",
      "title": "动作列表响应",
      "properties": {
        "data": {
          "title": "响应信息",
          "$ref": "#/definitions/authResourceActionData"
        },
        "status": {
          "title": "响应状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "authGetResourceListResponse": {
      "type": "object",
      "title": "资源列表响应",
      "properties": {
        "data": {
          "title": "响应信息",
          "$ref": "#/definitions/authResourceActionData"
        },
        "status": {
          "title": "响应状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "authGetUserInfoResponse": {
      "type": "object",
      "properties": {
        "info": {
          "title": "响应消息",
          "$ref": "#/definitions/authUserInfo"
        },
        "status": {
          "title": "响应状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "authLoginResponse": {
      "type": "object",
      "title": "用户登陆接口响应，返回301状态码"
    },
    "authLogoutResponse": {
      "type": "object",
      "title": "用户登出接口响应，返回301状态码"
    },
    "authResourceActionData": {
      "type": "object",
      "title": "资源动作数据列表",
      "properties": {
        "code": {
          "type": "string"
        },
        "list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/authResourceActionItem"
          }
        },
        "reason": {
          "type": "string"
        }
      }
    },
    "authResourceActionItem": {
      "type": "object",
      "title": "资源动作条目（命名适配IAM）",
      "properties": {
        "expr": {
          "type": "string",
          "title": "表达式"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "title": "ID"
        },
        "name": {
          "type": "string",
          "title": "名称"
        },
        "note": {
          "type": "string",
          "title": "说明"
        },
        "parentId": {
          "type": "string",
          "format": "int64",
          "title": "父节点ID"
        },
        "resourceType": {
          "type": "string",
          "title": "资源类型"
        }
      }
    },
    "authSourceCode": {
      "description": "- NONE: 不依赖外部系统\n - IAM: IAM系统",
      "type": "string",
      "title": "外部系统编号",
      "default": "NONE",
      "enum": [
        "NONE",
        "IAM"
      ]
    },
    "authUserInfo": {
      "type": "object",
      "title": "用户信息",
      "properties": {
        "access_token": {
          "type": "string",
          "title": "API访问授权Token"
        },
        "avatar": {
          "type": "string",
          "title": "用户头像路径"
        },
        "name": {
          "type": "string",
          "title": "用户名"
        },
        "source": {
          "title": "外部系统的编号",
          "$ref": "#/definitions/authSourceCode"
        },
        "source_uid": {
          "type": "string",
          "title": "用户在外部系统中的ID"
        },
        "uid": {
          "type": "string",
          "title": "用户在鉴权网关中的唯一ID"
        }
      }
    },
    "callbackCmdbEventData": {
      "type": "object",
      "properties": {
        "cur_data": {
          "type": "object",
          "title": "时间触发前的实体数据",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pre_data": {
          "type": "object",
          "title": "时间触发后的实体数据",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "callbackCmdbEventRequest": {
      "type": "object",
      "title": "cmdb事件请求",
      "properties": {
        "action": {
          "type": "string",
          "title": "触发动作"
        },
        "data": {
          "type": "array",
          "title": "事件的变更数据",
          "items": {
            "$ref": "#/definitions/callbackCmdbEventData"
          }
        },
        "event_type": {
          "type": "string",
          "title": "事件类型"
        },
        "obj_type": {
          "type": "string",
          "title": "事件相关的实体，如集群set"
        }
      }
    },
    "callbackCmdbEventResponse": {
      "type": "object",
      "title": "cmdb事件请求返回",
      "properties": {
        "status": {
          "title": "返回状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbAreaLevel": {
      "description": "- NULL: 0-不存在\n - NATION: 1-国家级\n - REGION: 2-大区级\n - PROVINCE: 3-省级\n - CITY: 4-市级\n - COUNTY: 5-区县级",
      "type": "string",
      "title": "地区层级",
      "default": "NULL",
      "enum": [
        "NULL",
        "NATION",
        "REGION",
        "PROVINCE",
        "CITY",
        "COUNTY"
      ]
    },
    "cmdbAreaObject": {
      "type": "object",
      "title": "地区对象",
      "properties": {
        "area_cnname": {
          "type": "string",
          "title": "区域中文名称"
        },
        "area_enname": {
          "type": "string",
          "title": "区域英文名称"
        },
        "area_id": {
          "type": "integer",
          "format": "int32",
          "title": "地区id"
        },
        "bk_inst_id": {
          "type": "integer",
          "format": "int32",
          "title": "实例ID"
        },
        "bk_inst_name": {
          "type": "string",
          "title": "区域编码"
        },
        "level": {
          "type": "string",
          "title": "地区层级"
        },
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "父节点ID"
        }
      }
    },
    "cmdbBizObject": {
      "type": "object",
      "title": "业务",
      "properties": {
        "bk_biz_id": {
          "type": "integer",
          "format": "int32",
          "title": "业务ID"
        },
        "bk_biz_name": {
          "type": "string",
          "title": "业务名"
        }
      }
    },
    "cmdbChooseHostRequest": {
      "type": "object",
      "title": "选择主机请求",
      "properties": {
        "bk_biz_id": {
          "type": "integer",
          "format": "int32",
          "title": "业务ID"
        },
        "bk_module_id": {
          "type": "array",
          "title": "模块ID",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "bk_set_id": {
          "type": "integer",
          "format": "int32",
          "title": "集群ID"
        }
      }
    },
    "cmdbChooseServerCompareRequest": {
      "type": "object",
      "title": "选择需要巡检校验的物理机请求",
      "properties": {
        "room_id": {
          "type": "integer",
          "format": "int32",
          "title": "机房ID"
        }
      }
    },
    "cmdbChooseServerRequest": {
      "type": "object",
      "title": "选择物理机请求",
      "properties": {
        "room_id": {
          "type": "integer",
          "format": "int32",
          "title": "机房ID"
        },
        "server": {
          "type": "array",
          "title": "机房下对应物理机UUID及ipmi的ip",
          "items": {
            "$ref": "#/definitions/cmdbServer"
          }
        }
      }
    },
    "cmdbHostCloudInfo": {
      "type": "object",
      "title": "主机域信息",
      "properties": {
        "bk_inst_id": {
          "type": "integer",
          "format": "int32",
          "title": "实体ID"
        },
        "bk_inst_name": {
          "type": "string",
          "title": "实体名称"
        },
        "bk_obj_icon": {
          "type": "string",
          "title": "对象图标"
        },
        "bk_obj_id": {
          "type": "string",
          "title": "对象类型"
        },
        "bk_obj_name": {
          "type": "string",
          "title": "对象名称"
        },
        "id": {
          "type": "string",
          "title": "域ID"
        }
      }
    },
    "cmdbHostInfoObject": {
      "type": "object",
      "title": "主机内容信息",
      "properties": {
        "biz": {
          "type": "array",
          "title": "业务对象",
          "items": {
            "$ref": "#/definitions/cmdbBizObject"
          }
        },
        "host": {
          "title": "主机对象",
          "$ref": "#/definitions/cmdbHostObject"
        },
        "module": {
          "type": "array",
          "title": "模块对象",
          "items": {
            "$ref": "#/definitions/cmdbModuleObject"
          }
        },
        "set": {
          "type": "array",
          "title": "集群对象",
          "items": {
            "$ref": "#/definitions/cmdbSetObject"
          }
        }
      }
    },
    "cmdbHostObject": {
      "type": "object",
      "title": "主机",
      "properties": {
        "bk_asset_id": {
          "type": "string",
          "title": "固资编号"
        },
        "bk_bak_operator": {
          "type": "string",
          "title": "备份维护人"
        },
        "bk_cloud_id": {
          "type": "array",
          "title": "主机域信息",
          "items": {
            "$ref": "#/definitions/cmdbHostCloudInfo"
          }
        },
        "bk_comment": {
          "type": "string",
          "title": "备注"
        },
        "bk_cpu": {
          "type": "integer",
          "format": "int32",
          "title": "CPU逻辑核心数"
        },
        "bk_cpu_mhz": {
          "type": "integer",
          "format": "int32",
          "title": "CPU频率"
        },
        "bk_cpu_module": {
          "type": "string",
          "title": "CPU型号"
        },
        "bk_disk": {
          "type": "integer",
          "format": "int32",
          "title": "磁盘容量"
        },
        "bk_host_id": {
          "type": "integer",
          "format": "int32",
          "title": "主机ID"
        },
        "bk_host_innerip": {
          "type": "string",
          "title": "内网IP"
        },
        "bk_host_name": {
          "type": "string",
          "title": "主机名称"
        },
        "bk_host_outerip": {
          "type": "string",
          "title": "外网IP"
        },
        "bk_isp_name": {
          "type": "string",
          "title": "所属运营商"
        },
        "bk_mac": {
          "type": "string",
          "title": "内网MAC地址"
        },
        "bk_mem": {
          "type": "integer",
          "format": "int32",
          "title": "内存容量"
        },
        "bk_os_bit": {
          "type": "string",
          "title": "操作系统位数"
        },
        "bk_os_name": {
          "type": "string",
          "title": "操作系统名称"
        },
        "bk_os_type": {
          "type": "string",
          "title": "操作系统类型"
        },
        "bk_os_version": {
          "type": "string",
          "title": "操作系统版本"
        },
        "bk_outer_mac": {
          "type": "string",
          "title": "外网MAC"
        },
        "bk_province_name": {
          "type": "string",
          "title": "所在省份"
        },
        "bk_service_term": {
          "type": "integer",
          "format": "int32",
          "title": "质保年限"
        },
        "bk_sla": {
          "type": "string",
          "title": "SLA级别"
        },
        "bk_sn": {
          "type": "string",
          "title": "设备SN"
        },
        "bk_state_name": {
          "type": "string",
          "title": "所在国家"
        },
        "bond_type": {
          "type": "string",
          "title": "Bond类型"
        },
        "cn2_gate": {
          "type": "string",
          "title": "cn2_gate"
        },
        "cn2ip": {
          "type": "string",
          "title": "CN2IP"
        },
        "cn2ip_mask": {
          "type": "integer",
          "format": "int32",
          "title": "cn2ip掩码数"
        },
        "create_time": {
          "type": "string",
          "title": "录入时间"
        },
        "function_code": {
          "type": "string",
          "title": "设备功能代码"
        },
        "hostip_mask": {
          "type": "integer",
          "format": "int32",
          "title": "设备ip掩码数"
        },
        "import_from": {
          "type": "string",
          "title": "录入方式"
        },
        "ipv6": {
          "type": "string",
          "title": "ipv6地址"
        },
        "module_name": {
          "type": "array",
          "title": "设备角色(模块名)",
          "items": {
            "type": "string"
          }
        },
        "nic_speed": {
          "type": "integer",
          "format": "int32",
          "title": "网卡带宽"
        },
        "operator": {
          "type": "string",
          "title": "主要维护人"
        },
        "service_bandwidth": {
          "type": "integer",
          "format": "int32",
          "title": "服务能力"
        },
        "ssh_port": {
          "type": "integer",
          "format": "int32",
          "title": "ssh端口"
        },
        "state": {
          "type": "string",
          "title": "主机状态"
        },
        "wan_gate": {
          "type": "string",
          "title": "wan_gate"
        }
      }
    },
    "cmdbImportAssetRequest": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string",
          "title": "用户上传xlsx文件的文件名"
        },
        "import_type": {
          "type": "string",
          "title": "导入资产实体类型"
        },
        "md5": {
          "type": "string",
          "title": "xlsx文件md5"
        },
        "url": {
          "type": "string",
          "title": "xlsx文件下载路径"
        }
      }
    },
    "cmdbImportAssetResponse": {
      "type": "object",
      "properties": {
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbImportCrossTableRequest": {
      "type": "object",
      "title": "导入交维表请求",
      "properties": {
        "filename": {
          "type": "string",
          "title": "用户上传xlsx文件的文件名"
        },
        "md5": {
          "type": "string",
          "title": "xlsx文件md5"
        },
        "url": {
          "type": "string",
          "title": "xlsx文件下载路径"
        }
      }
    },
    "cmdbImportCrossTableResponse": {
      "type": "object",
      "title": "导入交维表请求返回",
      "properties": {
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbImportDetailResponse": {
      "type": "object",
      "title": "查看导入的实体信息列表响应",
      "properties": {
        "inst_info": {
          "type": "object",
          "title": "实体信息列表, map\u003cbk_obj_id, 可以转为map的字符串实体信息\u003e",
          "additionalProperties": {
            "type": "string"
          }
        },
        "paging": {
          "title": "分页信息",
          "$ref": "#/definitions/commonPaging"
        },
        "status": {
          "title": "返回的请求状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbImportHistoryObject": {
      "type": "object",
      "title": "导入历史对象",
      "properties": {
        "end_time": {
          "type": "string",
          "format": "date-time",
          "title": "结束时间"
        },
        "fail_count": {
          "type": "integer",
          "format": "int32",
          "title": "失败行数"
        },
        "filename": {
          "type": "string",
          "title": "用户上传的文件名"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "import_type": {
          "title": "导入类型",
          "$ref": "#/definitions/cmdbImportType"
        },
        "logfile_content": {
          "type": "string",
          "title": "日志文件内容"
        },
        "logfile_md5": {
          "type": "string",
          "title": "日志文件md5"
        },
        "logfile_url": {
          "type": "string",
          "title": "日志文件下载路径"
        },
        "md5": {
          "type": "string",
          "title": "xlsx文件md5"
        },
        "operator": {
          "title": "操作人",
          "$ref": "#/definitions/commonUser"
        },
        "review_note": {
          "type": "string",
          "title": "审批描述"
        },
        "start_time": {
          "type": "string",
          "format": "date-time",
          "title": "起始时间"
        },
        "status": {
          "title": "导入状态",
          "$ref": "#/definitions/cmdbImportStatus"
        },
        "success_count": {
          "type": "integer",
          "format": "int32",
          "title": "成功行数"
        },
        "total_count": {
          "type": "integer",
          "format": "int32",
          "title": "总行数"
        },
        "url": {
          "type": "string",
          "title": "xlsx文件路径"
        }
      }
    },
    "cmdbImportHistoryResponse": {
      "type": "object",
      "title": "查询导入历史列表返回",
      "properties": {
        "history": {
          "type": "array",
          "title": "导入历史对象列表",
          "items": {
            "$ref": "#/definitions/cmdbImportHistoryObject"
          }
        },
        "paging": {
          "title": "分页信息",
          "$ref": "#/definitions/commonPaging"
        },
        "status": {
          "title": "返回的请求状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbImportHostRequest": {
      "type": "object",
      "title": "导入主机请求",
      "properties": {
        "filename": {
          "type": "string",
          "title": "用户上传xlsx文件的文件名"
        },
        "md5": {
          "type": "string",
          "title": "xlsx文件md5"
        },
        "url": {
          "type": "string",
          "title": "xlsx文件下载路径"
        }
      }
    },
    "cmdbImportHostResponse": {
      "type": "object",
      "title": "导入主机请求返回",
      "properties": {
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbImportLakeRequest": {
      "type": "object",
      "title": "导入lake节点请求",
      "properties": {
        "filename": {
          "type": "string",
          "title": "用户上传xlsx文件的文件名"
        },
        "md5": {
          "type": "string",
          "title": "xlsx文件md5"
        },
        "url": {
          "type": "string",
          "title": "xlsx文件下载路径"
        }
      }
    },
    "cmdbImportLakeResponse": {
      "type": "object",
      "title": "导入lake节点请求返回",
      "properties": {
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbImportReviewResponse": {
      "type": "object",
      "title": "执行审批结果返回",
      "properties": {
        "status": {
          "title": "返回的请求状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbImportStatus": {
      "description": "- IMPORTING: 0-正在导入\n - COMPLETED: 1-导入完成\n - FAILED: 2-导入失败\n - REVIEWING: 3-待审核\n - ACCEPT: 4-审核通过\n - REJECT: 5-审核不通过\n - CANCEL: 6-撤销\n - ROLL_FAIL: 7-回滚失败",
      "type": "string",
      "title": "导入状态: 0-正在导入 1-导入完成 2-导入失败 3-待审核 4-审核通过 5-审核不通过 6-撤销 7-回滚失败",
      "default": "IMPORTING",
      "enum": [
        "IMPORTING",
        "COMPLETED",
        "FAILED",
        "REVIEWING",
        "ACCEPT",
        "REJECT",
        "CANCEL",
        "ROLL_FAIL"
      ]
    },
    "cmdbImportType": {
      "description": "- UNDEFINED: 0-undefined\n - HOST: 1-主机\n - SERVER: 2-物理机\n - LAKE: 3-LAKE\n - SWITCH: 4-交换机\n - CROSSTABLE: 5-交维表\n - VIP: 6-VIP",
      "type": "string",
      "title": "导入类型:0-undefined 1-主机 2-物理机 3-LAKE 4-交换机",
      "default": "UNDEFINED",
      "enum": [
        "UNDEFINED",
        "HOST",
        "SERVER",
        "LAKE",
        "SWITCH",
        "CROSSTABLE",
        "VIP"
      ]
    },
    "cmdbInstType": {
      "description": "- UNDEFINED_INST: 0-undefined\n - HOST_INST: 1-主机\n - LAKE_INST: 2-LAKE\n - VIP_INST: 3-VIP",
      "type": "string",
      "title": "实体类型:0-undefined 1-HOST 2-LAKE 3-vip",
      "default": "UNDEFINED_INST",
      "enum": [
        "UNDEFINED_INST",
        "HOST_INST",
        "LAKE_INST",
        "VIP_INST"
      ]
    },
    "cmdbInstanceTopologyResponse": {
      "type": "object",
      "title": "拓扑实例请求返回",
      "properties": {
        "instance": {
          "type": "array",
          "title": "多个业务拓扑对象",
          "items": {
            "$ref": "#/definitions/cmdbTopologyObject"
          }
        },
        "status": {
          "title": "TopologyObject instance = 1;\r\n状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbLakeAreaObject": {
      "type": "object",
      "title": "通过IP获取节点的地区和位置信息的返回的具体结构体",
      "properties": {
        "host_state": {
          "type": "string",
          "title": "主机的状态，有上线和下线两种"
        },
        "ipv4": {
          "type": "string"
        },
        "ipv6": {
          "type": "string"
        },
        "lake": {
          "type": "array",
          "title": "对应的lake节点信息,包括机房信息",
          "items": {
            "$ref": "#/definitions/cmdbLakeObject"
          }
        }
      }
    },
    "cmdbLakeHost": {
      "type": "object",
      "title": "lake下的主机列表",
      "properties": {
        "host": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/cmdbHostObject"
          }
        },
        "lake_object": {
          "$ref": "#/definitions/cmdbLakeObject"
        }
      }
    },
    "cmdbLakeNodeLevel": {
      "description": "- NATION_CENTER: 0-全国中心\n - REGION_CENTER: 1-区域中心\n - PROVINCE_EDGE: 2-省边缘\n - CITY_EDGE: 3-地市边缘\n - COUNTY_EDGE: 4-区县边缘",
      "type": "string",
      "title": "节点层次",
      "default": "ALL",
      "enum": [
        "ALL",
        "NATION_CENTER",
        "REGION_CENTER",
        "PROVINCE_EDGE",
        "CITY_EDGE",
        "COUNTY_EDGE"
      ]
    },
    "cmdbLakeObject": {
      "type": "object",
      "title": "LAKE节点对象",
      "properties": {
        "bandwidth_limit": {
          "type": "number",
          "format": "float",
          "title": "能力上限"
        },
        "bk_inst_id": {
          "type": "integer",
          "format": "int32",
          "title": "业务ID"
        },
        "bk_inst_name": {
          "type": "string",
          "title": "实例名"
        },
        "construct_state": {
          "type": "string",
          "title": "节点建设状态"
        },
        "construct_updatetime": {
          "type": "string",
          "title": "节点建设状态变更时间"
        },
        "node_code": {
          "type": "string",
          "title": "节点编码"
        },
        "node_id": {
          "type": "integer",
          "format": "int32",
          "title": "节点ID"
        },
        "node_level": {
          "type": "string",
          "title": "节点层次"
        },
        "room": {
          "type": "array",
          "title": "机房信息",
          "items": {
            "$ref": "#/definitions/cmdbServerRoomObject"
          }
        },
        "service_state": {
          "type": "string",
          "title": "节点服务状态"
        },
        "vip": {
          "type": "array",
          "title": "节点VIP",
          "items": {
            "$ref": "#/definitions/cmdbVipObject"
          }
        }
      }
    },
    "cmdbLevelHost": {
      "type": "object",
      "title": "level下的主机ip列表",
      "properties": {
        "level": {
          "title": "LakeNodeLevel 节点层级",
          "$ref": "#/definitions/cmdbLakeNodeLevel"
        },
        "values": {
          "type": "array",
          "title": "对应的ip列表",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "cmdbModuleObject": {
      "type": "object",
      "title": "模块",
      "properties": {
        "TopModuleName": {
          "type": "string",
          "title": "业务拓扑模块名"
        },
        "bk_module_id": {
          "type": "integer",
          "format": "int32",
          "title": "模块ID"
        },
        "bk_module_name": {
          "type": "string",
          "title": "模块名"
        },
        "bk_parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "父节点id"
        }
      }
    },
    "cmdbOnlineState": {
      "description": "- UNDEFINEDSTATE: 0-未定义\n - OFFLINE: 1-下线\n - ONLINE: 2-上线",
      "type": "string",
      "title": "上下线状态:0-未定义 1-下线 2-上线",
      "default": "UNDEFINEDSTATE",
      "enum": [
        "UNDEFINEDSTATE",
        "OFFLINE",
        "ONLINE"
      ]
    },
    "cmdbRoomObject": {
      "type": "object",
      "title": "机房对象",
      "properties": {
        "bk_inst_id": {
          "type": "integer",
          "format": "int32",
          "title": "机房ID"
        },
        "bk_inst_name": {
          "type": "string",
          "title": "机房名称"
        },
        "child": {
          "type": "array",
          "title": "子对象",
          "items": {
            "$ref": "#/definitions/cmdbRoomObject"
          }
        },
        "uuid": {
          "type": "string",
          "title": "uuid (bk_obj_id + _ + bk_inst_id/area_code)"
        }
      }
    },
    "cmdbRoomTopologyResponse": {
      "type": "object",
      "title": "机房拓扑请求返回",
      "properties": {
        "rooms": {
          "type": "array",
          "title": "机房拓扑对象",
          "items": {
            "$ref": "#/definitions/cmdbRoomObject"
          }
        },
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbSearchHostResponse": {
      "type": "object",
      "title": "查找主机请求返回",
      "properties": {
        "host_info_object": {
          "type": "array",
          "title": "主机信息",
          "items": {
            "$ref": "#/definitions/cmdbHostInfoObject"
          }
        },
        "paging": {
          "title": "分页信息",
          "$ref": "#/definitions/commonPaging"
        },
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbSearchInstRequest": {
      "type": "object",
      "title": "实体 host，lake，vip的查询请求",
      "properties": {
        "condition": {
          "type": "string",
          "title": "用于condition查询条件"
        },
        "fields": {
          "type": "string",
          "title": "用于fields查询条件"
        },
        "page": {
          "type": "string",
          "title": "用于page查询条件"
        },
        "search_type": {
          "title": "用于区分查询类型，此处查询主要包括 host，lake，vip",
          "$ref": "#/definitions/cmdbInstType"
        }
      }
    },
    "cmdbSearchInstResponse": {
      "type": "object",
      "title": "实体 host，lake，vip的查询返回",
      "properties": {
        "paging": {
          "title": "分页信息",
          "$ref": "#/definitions/commonPaging"
        },
        "search_inst": {
          "type": "string",
          "title": "查询实体信息"
        },
        "status": {
          "title": "返回的请求状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbSearchLakeAreaResponse": {
      "type": "object",
      "title": "通过IP获取节点的地区和位置信息的返回",
      "properties": {
        "lake_area": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/cmdbLakeAreaObject"
          }
        },
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbSearchLakeHostResponse": {
      "type": "object",
      "title": "查询lake下的主机列表的返回",
      "properties": {
        "lake_host": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/cmdbLakeHost"
          }
        },
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbSearchLakeRequest": {
      "type": "object",
      "title": "查找Lake请求",
      "properties": {
        "area_code": {
          "type": "array",
          "title": "地区编码(一个或多个，可为空)",
          "items": {
            "type": "string"
          }
        },
        "isp_code": {
          "type": "array",
          "title": "运营商编码(一个或多个，可为空)",
          "items": {
            "type": "string"
          }
        },
        "node_code": {
          "type": "array",
          "title": "节点编码(一个或多个，可为空)",
          "items": {
            "type": "string"
          }
        },
        "node_id": {
          "type": "array",
          "title": "节点ID(一个或多个，可为空)",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "vip": {
          "type": "array",
          "title": "节点VIP(一个或多个，可为空)",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "cmdbSearchLakeResponse": {
      "type": "object",
      "title": "查找Lake请求返回",
      "properties": {
        "lake": {
          "type": "array",
          "title": "主机信息",
          "items": {
            "$ref": "#/definitions/cmdbLakeObject"
          }
        },
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbSearchLevelHostResponse": {
      "type": "object",
      "title": "按level查询lake节点下主机列表响应",
      "properties": {
        "paging": {
          "title": "分页信息",
          "$ref": "#/definitions/commonPaging"
        },
        "result": {
          "type": "object",
          "title": "LakeNodeLevel 下的主机ip列表",
          "additionalProperties": {
            "$ref": "#/definitions/cmdbLevelHost"
          }
        },
        "status": {
          "title": "返回的请求状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbSearchMoudleResponse": {
      "type": "object",
      "title": "查询模块请求返回",
      "properties": {
        "moudule": {
          "type": "array",
          "title": "模块对象",
          "items": {
            "$ref": "#/definitions/cmdbModuleObject"
          }
        },
        "status": {
          "title": "状态码",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbServer": {
      "type": "object",
      "title": "物理机传入信息",
      "properties": {
        "ipmi_ip": {
          "type": "string",
          "title": "物理机ipmi的ip"
        },
        "uuid": {
          "type": "string",
          "title": "裸金属uuid"
        }
      }
    },
    "cmdbServerInstallState": {
      "description": "- UNINSTALLED: 未装机\n - INSTALLING: 装机中\n - INSTALLED: 已装机",
      "type": "string",
      "title": "装机状态",
      "default": "UNINSTALLED",
      "enum": [
        "UNINSTALLED",
        "INSTALLING",
        "INSTALLED"
      ]
    },
    "cmdbServerListResponse": {
      "type": "object",
      "title": "裸金属列表响应",
      "properties": {
        "paging": {
          "title": "分页信息",
          "$ref": "#/definitions/commonPaging"
        },
        "servers": {
          "type": "array",
          "title": "裸金属列表",
          "items": {
            "$ref": "#/definitions/cmdbServerObject"
          }
        },
        "status": {
          "title": "返回的请求状态",
          "$ref": "#/definitions/commonResponseStatus"
        }
      }
    },
    "cmdbServerObject": {
      "type": "object",
      "title": "物理机对象",
      "properties": {
        "account": {
          "type": "string",
          "title": "IPMI账号"
        },
        "bk_host_innerip": {
          "type": "string",
          "title": "主机内网IP"
        },
        "bk_inst_id": {
          "type": "integer",
          "format": "int32",
          "title": "物理机id"
        },
        "bk_inst_name": {
          "type": "string",
          "title": "实例名"
        },
        "cabinet": {
          "type": "string",
          "title": "机柜"
        },
        "install_state": {
          "title": "装机状态",
          "$ref": "#/definitions/cmdbServerInstallState"
        },
        "mac_address": {
          "type": "string",
          "title": "MAC地址"
        },
        "manage_ip": {
          "type": "string",
          "title": "IPMI地址"
        },
        "password": {
          "type": "string",
          "title": "IPMI密码"
        },
        "port": {
          "type": "string",
          "title": "IPMI端口"
        },
        "power_state": {
          "title": "电源状态",
          "$ref": "#/definitions/cmdbServerPowerState"
        },
        "uuid": {
          "type": "string",
          "title": "裸金属uuid"
        }
      }
    },
    "cmdbServerPowerState": {
      "description": "- UNKNOWN: 未知状态\n - OFF: 下电\n - ON: 上电",
      "type": "string",
      "title": "电源状态",
      "default": "UNKNOWN",
      "enum": [
        "UNKNOWN",
        "OFF",
        "ON"
      ]
    },
    "cmdbServerRoomObject": {
      "type": "object",
      "title": "机房对象",
      "properties": {
        "area": {
          "title": "机房的具体区域信息",
          "$ref": "#/definitions/cmdbAreaObject"
        },
        "area_code": {
          "type": "string",
          "title": "地区编码"
        },
        "bk_inst_id": {
          "type": "integer",
          "format": "int32",
          "title": "机房ID"
        },
        "bk_inst_name": {
          "type": "string",
          "title": "机房名称"
        },
        "isp_code": {
          "type": "string",
          "title": "运营商编码"
        },
        "min_bandwidth": {
          "type": "integer",
          "format": "int32",
          "title": "保底带宽"
        },
        "room_address": {
          "type": "string",
          "title": "机房的具体地址"
        },
        "state": {
          "type": "string",
          "title": "机房状态"
        },
        "up_bandwidth": {
          "type": "integer",
          "format": "int32",
          "title": "上行带宽"
        }
      }
    },
    "cmdbSetObject": {
[...]
